<div className="col-lg-6 text-center">
    <div className="card"> <img className="card-img-top" src="img/home-bg.jpg" alt="Card image cap">
        <div className="card-block">
            <h4 className="card-title">'+ response[i].postName +'</h4>
            <p className="card-text">'+ response[i].content.split(" ").splice(0,15).join(" ") +'</p>
            <ul className="list-inline ">
                <li className="list-inline-item">
                    <p className="card-text"><b>Poted On:</b>'+ moment(response[i].dateCreated).format("DD MMM YYYY") +'</p>
                </li>
                <li className="list-inline-item"> <a href="/samplePost" onclick="viewPost('+response[i].postId+')" className="btn btn-primary">View Post</a></li>
            </ul>
        </div>
    </div>
</div>